<style>

.bordure1{
  border: 1px solid black;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  }
#newTitle{
  display: none;
}
#Form1{
  display: block;
}
#None{
  display: none;
}
#Form2{
  display: none;
}
#Ajouter{
  margin-top: 20px;
  margin-left: 110px;
}
#fin{
  display: none;
  text-align: center;
  margin-top: 100px;
}
#Heure{
  display: none;
}
.inline-block{
  display: inline-block;
}
.espaceTop{
  margin-top: 15px;
}
.centrage{
  margin-left: 15px;
}
.centrage2{
  margin-left: 30px;
  margin-top: 20px;
}
#text2{
  margin-left: 150px;
  margin-top: 50px;
}
.ou{
  margin-top: 30px;
  margin-left: 15px
}
.groupe1{
  width: 150px;
}
.col-setting{
  padding: 0px;
}
.col-setting2{
  padding-left: 10%;
}
.row-centre{
  margin-left: 360px;
}
.row-centre2{
  margin-left: 8px;
}
.bordure2{
  border: 1px solid black;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.row-centre3{
  margin-left: 70px;
}
.centre4{
  margin-left: 40px;
  margin-top: 20px;
}
.espace-col{
  padding-right: 40px;
}
.espace-col2{
  padding-left: 40px;
}
#copie{
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}
.centrage3{
  margin-left: 10px;
  margin-top: 10px;
}
</style>
